.titles{
    border:1px solid black;
}

.cont table{
    border:1px solid black;
}

.names{
    border:1px solid black;
}
.lvl{
    border:1px dashed black;
}

.lvls{
    border:1px dashed black;
}

.name{
    border:1px solid black;
}


